.message-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.btn {
  display: inline-flex;
  justify-content: center; /* center the content horizontally */
  align-items: center;
  border-color: transparent;
  margin-right: 8px;
}
.mode-buttons:hover {
  cursor: pointer;
}
